body {
  margin: 0;
  background-color: lightblue;
  font: 16px Roboto, Helvetica, Arial, sans-serif;
  color: #303030;
}
.main-content {
  max-width: 768px;
  margin: 0 auto;
  background-color: white;
  padding: 0 2em;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;
}
h1 {
  text-align: center;
  border-bottom: 1px solid lightsteelblue;
}
h2 {
  border-bottom: 1px solid lightgray;
}

.notification {
  display: none;
  padding: 0.5em 1em;
  margin: 0 -2em;
  pointer-events: none;
}
.notification::after {
  content: "×";
  float: right;
  pointer-events: all;
  cursor: pointer;
  background: dimgray;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  color: gainsboro;
  mix-blend-mode: luminosity;
}
.notification.notification-error {
  display: block;
  background-color: pink;
  border: 1px solid firebrick;
}
.notification.notification-success {
  display: block;
  background-color: palegreen;
  border: 1px solid forestgreen;
}

.field {
  margin: 0.5em 0;
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
}
.field > label {
  font-size: 90%;
}
.field > input {
  border: 1px solid dimgray;
  padding: 4px;
  border-radius: 4px;
}
.field > button {
  flex-grow: 0;
  align-self: center;
}

.error {
  font-size: 70%;
  color: red;
  margin: 0;
}
